/build-aux/
/aclocal.m4
/config.log
/config.status
/configure
Makefile
Makefile.in
/libtool
/autom4te.cache/
.deps/
.libs/
.dirstamp
*.o
*.a
*.lo
*.la
*.trs
*.log

/signal-glib-*.tar.xz
/signal-glib-*/
/tests/test-client
/tests/test-axolotl-client
